.table {
  width: 900px;
  border: 2px solid black;
  margin: 20px auto;
}
tr th {
  font-size: 23px;
}
@media (max-width: 930px) {
  .table {
    width: 700px;
  }
}
@media (max-width: 722px) {
  .table {
    width: 600px;
  }
}
@media (max-width: 621px) {
  .table {
    width: 500px;
  }
}
@media (max-width: 530px) {
  .table {
    width: 400px;
  }
}
